html,
body {
	font-family: Helvetica, sans-serif;
  font-size: 18px;
  color: white;
  margin: 0;

}

h1,
h4 {
	font-weight: bold;
}

.company {
	background-color: black;
	color: white;
}

.company .container {
	display: flex;
	align-items: center;
	padding: 12px 0 12px 0.54em;
	font-size: 1rem;
}

.company img {
	height: 1.5em;
	padding-right: 15px;
}

.container {
	max-width: 960px;
	margin: 0 auto;
}

.top {
	height: 25rem;
	background-image: url(../images/moto.jpeg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.new {
	background-color: black;
	color: white;
	width: 20em;
	padding: 2em 3em;
	position: relative;
	top: 9em;
}

.new h1 {
	font-size: 2em;
	line-height: 1.2em;
	margin: 0.25em 0;
}

nav {
	background-color: firebrick;
	color: white;
}

nav ul {
	display: flex;
	list-style: none;
	align-items: center;
	justify-content: space-between;
	padding: 0.75em 0;
}

.mobile-nav {
	display: none;
}

.products, 
.business-info {
	display: flex;
	justify-content: space-between;
	margin: 3em 0 0 0;
}

.product {
	width: 30%;
}

.product-image {
	border: 4px solid black;
	padding: 2em 0;
	height: 9em;
	display: flex;
	justify-content: center;
	align-items: center;
}

.product-image img {
	max-width: 8em;
}

.description {
	display: block;
	background-color: black;
	color: white;
	text-align: center;
	padding: 0.5em;
}

.info {
	width: 35%;
}

.info span {
	color: black;
}

.info .title {
	display: block;
	background-color: black;
	color: white;
	padding: 1em 2em;
}

footer {
	background-color: black;
	text-align: left;
	padding: 5em 0;
	margin-top: 4em;
	font-weight: normal;
}

@media only screen and (max-width: 1024px) {
	.product {
		width: 47%;
	}
	
	.product.glasses {
		display: none;
	}

	body {
		font-size: 16px;
	}

	nav ul {
		display: none;
	}

	.mobile-nav {
		display: block;
		text-align: center;
	}
}

@media only screen and (max-width: 470px) {
	.top {
		height: 15rem;
	}

	.new {
		padding-top: 1em;
		width: 100%;
		top: 8em;
		position: center;
	}

	.new h1 {
		font-size: 1rem;
	}

	.new h4 {
		font-size: 0.77rem;
	}

	.product {
			width: 90%;
			margin: auto;
		}

	.products, 
	.business-info {
		flex-wrap: wrap;
	}

	.info {
		width: 90%;
		margin: 0.5rem auto;
	}

	.product.watch {
		display: none;
	}

	footer {
		text-align: center;
	}
}